%h1 Beat Saber playlist sorter
%p
  You can sort playlists in-game with
  = link_to 'BetterSongList MOD,', 'https://github.com/kinsi55/BeatSaber_BetterSongList'
  but you have to sort it everytime you open that playlist.
  %br
  This site will sort songs in your playlist, and you can download sorted playlist.

%p
  = link_to 'Upload playlist to start', new_playlist_path

%h2 How to use

%ol
  %li Upload a playlist
  %li Sort songs (Name Ascending/Descending, or Drag & Drop)
  %li Download sorted playlist
  %li Save it into the playlist folder (Please backup your original playlist before overwriting!)

%h2 Notice

%ul
  %li
    PC playlist only. Use
    = link_to 'Playlist Editor Ultimate', 'https://playlisteditorultimate.com/'
    for Quest.
  %li There may be playlists with incompatible formats.
  %li Uploaded playlists will be deleted after 1-2 days. You can't re-download or save your playlists on this site.

.divider
%p
  This site is one of my Rails 7 practice. There may be MODs or tools that can do same, or even better.
  %br
  = link_to 'Beat Saber playlist sort on GitHub', 'https://github.com/yaws-k/bs-playlist-sort'
